.item {
    width: 28px;
    height: 28px;
    background-color: #afa1aa;
    float: left;
    border: 1px solid black;
    margin: 0;
}
.mark {
  background-color: #dc55b4;
}


#wrapper {
  margin: 20px auto;
  height: 480px;
  width: 480px;
  padding: 0;
}
.container {
  width: 480px;
  margin: auto;
  text-align: center;
}
